.customHeader {
		background-color:   #3f51b5;
		height: 100px;
    border-bottom: 1px solid #004d40;
		transition: opacity 0.5s, margin-top 0.2s ease-in-out;
	}


.scrollDownHeader {
	opacity: 0;
	margin-top: -95px;
}

.scrollUpHeader {
	opacity: 1;
}



.headline {
  font-size: 60px;
  font-weight:bold;
	color: #e8eaf6;
  align:left;
	margin-top:0px;
	margin-left: 20px;
	padding-top:20px;
}

.headlineIcon {
  padding-top: 10px;
  font-size: 40px;
}


.center {
/*margin-left: 150px !important;*/

}


.searchBarExtension {
  width: 500px !important;
}


.fixWidthTB {
  width: 100% !important;

}

.tbListFix {
  margin-top:-10px;
}


.fixWidthBtn {
    width: 20% !important;
}


.adjust {
	margin-top: 100px !important;


}
