.sb {
/* Padding of the Searchbar */

/* With Header: 180, Without: 80*/
padding-left: 10px !important;
padding-right: 10px !important;


}


/* Datetime picker */
.picker {
 margin-top: 50px;
}




/* List Stuff */
.customList {
  margin-top: 20px;
  border:none !important;
  border-radius:0px ;
}

.customListItem {
  border:none;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 0px !important;
}

.customListItem.hilight {
    	background-color:#c5cae9 !important;
}
